
    .container {
        margin: 0 auto;
        background: #ceceff;
        box-sizing: border-box;
    }

    /*dimensões para mobile*/
    @media screen and (max-width: 767px) {
        .container {
            background: #ffcece;
        }
    }

    /*dimensões para tablet*/
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .container {
            background: #ceffce;
        }
    }

    /*dimensões para desktops*/
    @media screen and (min-width: 1024px) {
        .container {
            background: #ceceff;
        }
    }

    /*dimensões para desktops de alta resolução*/
    @media screen and (min-width: 1280px) {
        .container {
            background-color: cadetblue;
        }
    }  
